.top {
    display: flex;
    flex-direction: column;
}
.top .header ul {
    list-style-type: none;
    margin-top: 0px;
    display: flex;
}

.top .header ul li {
    margin: 0 10px 0 0 ;
}
.top .header ul li a {
    font-size: 18px;
    text-decoration: none;
    color: #E5E7EB;
}

.header {
    display: flex;
    justify-content: space-around;
}