body {
    font-family: sans-serif;
    margin: 0px;
}
.top {
    background-color: #1F2937;
    border-style: none;
}

.top .header ul {
    list-style-type: none;
    margin-top: 0px;
    display: flex;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.top .header ul li {
    margin: 0 10px 0 0 ;
}

.top .header ul li a {
    font-size: 18px;
    text-decoration: none;
    color: #E5E7EB;
}

.header {
    display: flex;
    justify-content: space-around;
}

.title .left h3 {
    font-size: 48px;
    color: #F9FAF8;
}

.title .left .text {
    font-size: 18px;
    color: #E5E7EB;
}

.image {
    width: 600px;
    height: 250px;
    background-color: darkgray;
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
}