body {
    font-family: sans-serif;
    margin: 0px;
}
.top {
    background-color: #1F2937;
    border-style: none;
}

.top .header ul {
    list-style-type: none;
    margin-top: 0px;
    display: flex;
    gap: 20px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.top .header ul li a {
    font-size: 18px;
    text-decoration: none;
    color: #E5E7EB;
    font-weight: 100;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px 90px;
}

.title {
    display: flex;
    padding: 10px 90px 90px;
    justify-content: space-between;
}

.left {
    padding-right: 40px;
    flex-grow: 1;
    flex-basis: 50%;
}

.image {
    background-color: darkgray;
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    flex-basis: 50%;
}

.title .left h3 {
    margin: 0px;
    font-size: 48px;
    color: #F9FAF8;
}

.title .left .text {
    font-size: 18px;
    color: #E5E7EB;
    font-weight: 100;
}

.title .left button {
    background-color: #3882F6;
    color:aliceblue;
    margin: 25px 0;
    border: none;
    padding: 10px 32px;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

