body {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    margin: 0px;
}
.top {
    background-color: #1F2937;
    border-style: none;
}

.top .header ul {
    list-style-type: none;
    margin-top: 0px;
    display: flex;
    gap: 20px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.top .header ul li a {
    font-size: 18px;
    text-decoration: none;
    color: #E5E7EB;
    font-weight: 100;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px 220px;
}

.title {
    display: flex;
    padding: 100px 220px 110px 220px;
    justify-content: space-between;
}

.left {
    padding-right: 40px;
    flex-grow: 1;
    flex-basis: 50%;
}

.image {
    background-color: darkgray;
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    flex-basis: 50%;
}

.title .left h3 {
    margin: 0px;
    font-size: 48px;
    color: #F9FAF8;
}

.title .left .text {
    font-size: 18px;
    color: #E5E7EB;
    font-weight: 100;
}

.title .left button {
    background-color: #3882F6;
    color:aliceblue;
    margin: 25px 0;
    border: none;
    padding: 10px 32px;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.description .image {
    box-sizing: border-box;
    border-style: solid;
    border-color: rgb(2, 131, 211);
    border-radius: 10px;
    border-width: 3px;
    background-color: white;
    width: 100%;
    aspect-ratio: 1/1;
}

.middle {
    display: flex;
    flex-direction: column;
}

.middle h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    font-size: 36px;
    color: #1F2937;
    padding: 0 220px;
}
.content {
    display: flex;
    margin: 0 120px; 
    gap: 20px;
    padding: 0 220px;
}

.subtext {
    padding: 10px;
    display: flex; 
    text-align: center;
}

.quote {
    background-color: #E5E7EB;
}
.words {
    font-size: 36px;
}

.author {
    display: flex;
    justify-content: flex-end;
    font-size: 23px;
    font-weight: 900;
    padding: 0 400px 100px;
}
.words {
    color: #1F2937;
    font-weight: 100;
    font-style: italic;
    padding: 50px 400px 0px;
    margin-bottom: 0px;
}

.call {
    background-color:#3882F6;
    border-radius: 6px;
    margin: 100px 220px 110px 220px
}